.heroimage {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    @include flex(center, center, column);

    background: {
        position: 30% 10%;
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
    }

    .heroimage__filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.562);
    }


    .heroimage__title {
        z-index: 4;
        color: #fff;
        font-size: 40px;

        @include medium_device-up {
            font-size: 55px;
        }

        text-align: center;
    }

    .heroimage__svg {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    @include small_device-up {
        height: 550px;

        background: {
            position: bottom;
            size: cover;
            repeat: no-repeat;
        }

        ;
    }

    @include medium_device-up {
        height: 640px;

        background: {
            position: bottom;
            size: cover;
            repeat: no-repeat;
        }
    }

    .quote__1 {
        color: $bg-dm-corporativo-light;
        z-index: 5;
        font-weight: 800;
        text-align: center;
    }

}

.hexagons {
    width: 100%;
    overflow: hidden;
    // @include margin_top_components;
    background-color: #F8F8F8;
    transition: .2s;
    position: relative;
    @include flex(center, space-evenly, column);

    .hexagons__title {
        @include h1;
    }

    .hexagons__up,
    .hexagons__down {
        margin-top: 10px;
        width: 100%;
        @include flex(center, space-around, column);

        @include small_device-up {
            @include flex(center, center, row);
        }

        transition: .4s;
        z-index: 3;
    }

    .hexagons__down {
        @include small_device-up {
            margin-top: -60px;
        }

        @include small_device-down {
            .hexagon__wrap:nth-child(1) {
                align-self: flex-start;
            }

            .hexagon__wrap:nth-child(2) {
                align-self: flex-end;
            }
        }
    }

    .hexagons__up {
        @include small_device-down {
            .hexagon__wrap:nth-child(1) {
                align-self: flex-end;
            }

            .hexagon__wrap:nth-child(2) {
                align-self: flex-start;
            }

            .hexagon__wrap:nth-child(3) {
                align-self: flex-end;
            }
        }
    }

    .hexagon__wrap {
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
        transition: .2s;
    }

    .hexagon {
        $s: 170px;
        $m: 6px;
        width: $s;
        margin: $m;
        border-radius: 10px;
        height: calc($s * 1.1547);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: initial;
        position: relative;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
        background-color: $bg-dm-corporativo-dark;

        @include medium_device-up {
            $s: 195px;
            width: $s;
            height: calc($s * 1.1547);
        }

        &:before {
            content: "";
            $s: 160px;
            $m: 6px;
            width: $s;
            margin: $m;
            border-radius: 5px;
            height: calc($s * 1.1547);
            display: inline-block;
            font-size: initial;
            clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
            background-color: $bg-dm-corporativo-dark;

            background: {
                image: url('~/static/images/hexagonsBackground.jpg');
                position: bottom left;
                size: cover;
            }

            @include medium_device-up {
                $s: 185px;
                width: $s;
                height: calc($s * 1.1547);
            }
        }

        .hexagon__img {
            width: 120px;
            position: absolute;

            @include medium_device-up {
                width: 150px;
            }
        }
    }


    svg {
        position: absolute;
        bottom: 0px;
    }

}

.products__exhibition {
    width: 100%;
    position: relative;
    overflow: hidden;
    @include flex(center, space-evenly, column);

    @include medium_device-up {
        width: 100%;
        height: 100vh;
    }

    .products__exhibition__button {
        width: 90%;
        height: 40px;
        outline: none;
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: $bg-dm-corporativo-light;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

        @include small_device-up {
            width: 250px;
            height: 50px;
        }

        z-index: 2;
    }

    .products__title {
        @include h1;
        z-index: 2;
    }

    .products__exhibition__list {
        width: 100%;
        @include flex(center, space-around, column);

        @include medium_device-up { 
            flex-direction: row;
        }
        
        .product__exhibition {
            z-index: 3;
            width: 90%;
        }
    }

    .wave__down {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

    .wave__up {
        position: absolute;
        top: 0;
    }
}

.counter {
    width: 100%;
    background-color: #FAFAFA;
    @include flex(center, space-around, column);

    @include small_device-up {
        @include flex(center, space-around, row);

    }

    .counter__value {
        width: 100%;
        height: 280px;
        @include flex(center, center, column);
        transition: .2s;

        .value {
            font-size: 80px;

            @include medium_device-up {
                font-size: 85px;
            }

            color: $bg-dm-corporativo-light;
            transition: .5s;
        }

        .title {
            font-size: 20px;

            @include medium_device-up {
                font-size: 25px;
            }
        }
    }
}

.hexagon__decoration {
    $s: 120px;
    $m: 1px;
    width: $s;
    margin: $m;
    border-radius: 10px;
    height: calc($s * 1.1547);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: initial;
    position: absolute;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background-color: $bg-dm-corporativo-light;


}

.card {
    width: 100%;

    @include small_device-up {
        max-width: 20rem;

        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            transition: .2s;
            z-index: 2;
        }
    }

    .card__button {
        width: 60%;
        height: 35px;
        outline: none;
        border: none;
        color: #fff;
        background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.9);
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

        &:hover {
            background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 1);
            transition: .2s;
        }
    }

}

.up {
    width: 40px;
    height: 40px;
    @include flex(center, center, row);
    cursor: pointer;
    display: none;
    position: fixed;
    transition: .2s;
    left: 10px;
    bottom: 10px;
    z-index: 10;
    color: #fff;
    .up__icon {
        width: 30px;
        height: 30px;
    }

    @include small_device-up { 
        width: 50px;
        height: 50px;
        @include flex(center, center, row);
        display: none;
        .up__icon {
            width: 40px;
            height: 40px;
        }
    }
    background-color: $bg-dm-corporativo-light;
}