.contact {
    width: 100%;
    .form__contact {
        width: 100%;
        position: relative;

        @include flex(center, space-evenly, column);
        @include medium_device-up {
            @include flex(center, space-evenly, row);
        }
        .form__info, .form {
            width: 100%;
            @include medium_device-up {
                width:50%;
            }
        }
        
        .form__info {
            @include flex(center, space-evenly, column);
            height: 400px;

            background-color: $bg-dm-corporativo-light;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            h2{
                color: #fff;
                text-align: center;
            }
            .form__info__desc {
                text-align: center;
                font-size: 17px;
                color: #fff;
            }

            .form__info__media {
                width: 100%;
                @include flex(center, space-evenly, row);
                .media__icon {
                    font-size: 25px;
                    color: #fff;
                }
            }
        }

        
        .info__icon {
            font-size: 18px;
            color: #fff;
            .icon {
                font-size: 25px;
                margin-right: 10px;
            }
        }
        
        .form {
            height: 550px;
            position: relative;
            overflow: hidden;
            @include flex(center, space-evenly, column);
            form {
                width: 90%;
                height: 100%;
                @include flex(center, space-evenly, column);
            }

            .form__buttons{ 
                width: 90%;
                @include flex(center, space-evenly, column);
                @include medium_device-up {
                    flex-direction: row;
                }
                .form__button {
                    width: 90%;
                    margin-top: 10px;
                    @include medium_device-up {
                        width: 140px;
                    }
                }

                .form__button:nth-child(1) {
                    background-color: $bg-dm-corporativo-light;
                    outline: none;
                    border: none;

                    &:hover {
                        background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.8);
                    }
                }

                .form__button:nth-child(2) {
                    background:none;
                    color: $bg-dm-corporativo-light;
                    outline: none;
                    border: 2px solid $bg-dm-corporativo-light;
                    &:hover {
                        background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.9);
                        color: #fff;
                    }
                }
            }
        }

        .wave {
            position: absolute;
            z-index: -1;
            bottom: 0;
        }
    }   

    .offices{
        width: 100%;
        position: relative;
        overflow: hidden;
        @include medium_device-up {
            height: 90vh;
        }


        background-color: $even_section_color;
        @include flex(center, space-evenly, column);

        .offices__title {
            @include h1;
            z-index: 4;
        }

        .offices__list {
            width: 100%;
            @include flex(center, space-evenly, column);
            @include medium_device-up {
                flex-direction: row;
            }
            .office {
                width: 85%;
                height: 420px;
                z-index: 2;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                border-radius: 10px;
                @include medium_device-up {
                    width: 330px;
                }

                @include medium_device-down {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
                background: {
                    image: url('~/static/images/greyHexVer.jpg');
                    position: center;
                    size:cover;
                };
            }
        }
    }

    .qa {
        width: 100%;
        position: relative;
        @include flex(center, space-evenly, column);

        .qa__title {
            @include h1;
        }

        .qa__questions {
            width: 100%;
            height: 450px;
            @include flex(center, space-around, column);
            .qa__question {
                max-width: 700px;
                @include flex(center, center, column);
                .qa__header {
                    width: 100%;
                }

            }
        }

        .wave { 
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

    

    
}