.product__list {
    width: 100%;
    @include flex(center, space-around, column);

    .banner {
        width: 100%;
        height: 250px;
        @include flex(center, center, column);

        background: {
            image: url('~/static/images/hero/banner.svg');
            position: center;
            size: cover;
        };

        .banner__title {
            text-align: center;
            font-size: 40px;

            @include small_device-up {
                font-size: 52px;
            }
        }

        .quote__2 {
            font-weight: 900;
            text-align: center;
            font-size: 17px;            
        }

    }

    .products__list__content {
        width: 100%;
        @include flex(center, center, column);

        .search__bar {
            width: 100%;
            @include margin_top_components;
            @include flex(center, space-around, row);
            flex-wrap: wrap;

            .input {
                width: 95%;
                outline: none;
                border: 1px solid #000;
                @include medium_device_down {
                    margin-top: 40px;
                }

                @include medium_device-up {
                    width: 15%;
                }

                .icon {
                    width: 50px;
                    border: 1px solid rgb(168, 168, 168);
                    @include flex(center, center, column);
                }
            }

            .input:nth-child(1) {
                @include medium_device-up {
                    width: 70%;
                }
            }
        }

        .products__list__content_total {
            margin-top: 10px;
        }

        .cards {
            margin-top: 30px;
            width: 95%;
            @include flex(center, space-around, row);
            flex-wrap: wrap;
        }
    }

}

.product__detail {
    width: 100%;
    margin-top: 20px;
    position: relative;
    @include flex(flex-start, space-around, column);

    @include medium_device-up {
        .product__detail__section {
            width: 50%;
            @include flex(center, center, row);
        }
    }

    .product__detail__main {
        @include flex(center, space-between, column);

        @include medium_device-up {
            flex-direction: row;
            align-self: center;
        }

        .product__detail__section {
            width: 100%;
            @include flex(center, center, row);
        }

        .product__detail__photo {
            width: 100%;
            @include flex(center, center, column);

            @include medium_device-up {
                height: 600px;
            }

            @include large_device-up {
                height: 680px;
            }

            .product__detail__photo__main {
                width: 95%;
                height: 450px;
                transition: .2s;
                position: relative;

                .photo__main {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                    @include medium_device-up {
                        object-fit: cover;
                       
                    }
                }

                @include medium_device-up {
                    height: 485px;
                   
                }

                .product__detail__full_size {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 50px;
                    height: 50px;
                    transition: .2s;
                    cursor: pointer;
                    background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.5);
                    @include flex(center, center, row);
                    color: #ffffff;
                    .fullscreen__icon {
                        width: 40px;
                        height: 30px;
                    }

                    &:hover {
                        background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.8);
                    }
                }
            }

            .product__detail__photo__list {
                width: 95%;
                height: 110px;
                margin-top: 10px;
                @include flex(center, space-between, row);

                @include medium_device-up {
                    height: 120px;
                }

                .image__thumb__container {
                    width: 23%;
                    height: 100%;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: .1s;
                    @include flex(center, center, row);
                    .product__detail__photo__thumbnail {
                        width: 99% !important;
                        height: 99% !important;
                        object-fit: contain;

                        @include medium_device-up {
                            object-fit: cover;
                           
                        }
                    }

                    .video {
                        height: 100%;
                    }
                }

                .current_thumbnail {
                    border: 2px solid $bg-dm-corporativo-light;
                }
            }



        }

        .product__detail__desc {
            width: 95%;
            height: 100%;
            overflow-y: scroll;
            @include scrollbarmain;
            @include flex(center, flex-start, column);

            @include medium_device_down {
                margin-top: 20px;
            }

            @include medium_device-up {
                height: 590px;
            }

            @include large_device-up {
                height: 650px;
            }

            .product__detail__desc__title {
                @include h1;
                width: 100%;
                text-align: left;
                color: #000;
            }

            .product__detail__desc__brand {
                width: 100%;
                @include flex(center, flex-start, row);
            }

            .product__detail__desc__details {
                @include flex(flex-start, flex-start, column);

                @include small_device-up {
                    @include flex(center, flex-start, row);
                }

                width: 100%;
                border-bottom: 1px solid #000;
                margin-top: 10px;

                .code {
                    color: #a0a3ad;

                    @include small_device-up {
                        margin-left: 30px;
                    }
                }
            }

            .product__detail__desc__price {
                width: 100%;
                margin-top: 10px;
                border-bottom: 1px solid #000;
                .sharer {
                    width: 100%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    @include flex(center, space-evenly, row);

                    a {
                        color: $bg-dm-corporativo-light;
                        margin-left: 30px;

                        .sharer__icon {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }

            .product__detail__desc__text {
                margin-top: 20px;
                width: 100%;
            }

            .product__detail__desc__esp {
                width: 100%;
                @include flex(center, flex-start, column);

                h5 {
                    align-self: flex-start;
                }

                ul {
                    width: 100%;

                    li {
                        margin-left: 30px;
                    }
                }
            }
        }
    }

    .product__detail__recommendations {
        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
        height: 600px;
        margin-top: 30px;
        position: relative;
        -webkit-overflow-scrolling: touch;
        @include scrollbarmain;
        .product__detail__recommendations__title{
            text-align: center;

            @include small_device-up {
                text-align: left;
                margin-left: 20px;
            }
        }
        .product__recommendation {
            display: inline-block;
            white-space: initial;
            width: 300px;
            // height: 200px;
            margin-top: 10px;

            .card__button {
                width: 60%;
                height: 35px;
                outline: none;
                border: none;
                color: #fff;
                background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.9);
                outline: none;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

                &:hover {
                    background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 1);
                    transition: .2s;
                }
            }

            .card {
                &:hover {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    transition: .2s;
                    z-index: 4;
                }
            }
        }
    }

    .product__detail__line {
        height: .2px;
        width: 95%;
        background: #000;
        align-self: center;
        margin-top: 30px;
    }

    .modal__slider {
        position: fixed;
        margin: auto;
        left:0;
        top:0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000, $alpha: 0.7);
        transition: .1s;
        transform-origin: -10px;
        z-index: 4;
        @include flex(center, center, column);
        .slider {
            width: 90%;
            height: 90%;
            @include flex(center,space-around, row);
            background-color: #fff;
            z-index: 1000000;
            position: relative;
            border-radius: 10px;

            .slider__close {
                width: 55px;
                height: 55px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.5);
                color: #fff;
                border-top-right-radius: 10px;
                @include flex(center, center, row);
                cursor: pointer;
                transition: .2s;
                .icon {
                    width: 90%;
                    height: 90%;
                    
                }
                &:hover {
                    background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.8);
                }
            }
            
            .slider__main {
                width: 95%;
                height: 300px;
                transition: .2s;
                @include flex(center, center, column);
                @include small_device-up {
                    width: 90%;
                    height: 100%;
                }
                overflow: hidden;

                .slider__full {
                    width: 90%;
                    height: 90%;
                    transition: .2s;    
                    object-fit: contain;
                }
                .video {
                    object-fit:fill;
                }
                
            }

            .slider__left__arrow, .slider__right__arrow{
                position: absolute;
                @include flex(center, center, column);
                width: 150px;
                height: 50px;
                background-color: rgba($color: #000, $alpha: 0.4);
                color: #fff;
                transition: .2s;
                cursor: pointer;
                .icon{
                    width: 30px;
                    height: 30px;
                }

                &:hover {
                    background-color: rgba($color: #000, $alpha: 0.7);
                }

                @include medium_device-up {
                    width: 50px;
                    height: 160px;
                }
            }

            .slider__left__arrow {
                top: 0;
                margin: auto;
                @include medium_device-up {
                    left: 0;
                    margin: auto;
                    bottom: 0;
                }
            }

            .slider__right__arrow {
                bottom: 0;
                margin: auto;
                @include medium_device-up {
                    top: 0;
                    right: 0;
                    margin: auto;
                }
            }

        }
    }
}

.product__loader {
     width: 100%;
     height: 100%;
     @include flex(flex-start, space-between, column);

     @include medium_device-up {
         flex-direction: row;
     }

     .loader__product__photos {
        width: 90%;
        height: 100%;
        @include flex(center, space-between, column);

        @include medium_device-up { 
            width: 49%;
        }

         .loader__product__photos__main__image {
             width: 100%;
             height: 400px;
             .photo__loader {
                 width: 100%;
                 height: 100%;
             }
         }

         .loader__product__photos__thumbs {
             width: 100%;
             height: 100px;
             margin-top: 20px;
            @include flex(center, space-between, row);
             .loader__product__photos__thumb {
                 width: 23%;
                 height: 100%;

                 .thumb__skeleton {
                     width: 100%;
                     height: 100%;
                 }

             }
         }
     }

     .loader__product__desc {
        width: 100%;
        height: 100%;
        @include medium_device_down {
            margin-top: 50px;
        }
        @include flex(center, flex-start, column);

        @include medium_device-up { 
            width: 49%;
        }

        .loader__product__desc__title {
            width: 90%;
        }

        .loader__product__desc__details {
            width: 90%;
            margin-top: 20px;
        }

        .loader__product__desc__text {
            margin-top: 20px;
            width: 90%;
        }

        .loader__product__desc__spec {
            width: 90%;
            margin-top: 20px;

        }
     }
}