
@import "header";
@import "home";
@import "components";
@import "footer";
@import "about";
@import "error";
@import "contact";
@import "products";
@import "./stories/stories.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
}

body {
    font-family: "Nunito";
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.nuxt-link-exact-active {
    border-bottom: 3px solid #fff;
}

.main_layout{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}